:root {
	--header-height: 25px;
	--footer-height: 25px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	color: #333;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	height: var(--header-height);
}

header nav {
	text-align: center;
}

header nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

main {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

audio {
	outline: solid green 2px;
	border-radius: 10px;
	border-color: white;
	border-style: outset;
}

#metadataInfoWrapper {
	flex-grow: 1;
}

#metadataInfo {
	margin: 10px;
	padding: 10px;
	border: solid green 2px;
	border-radius: 2px;
}

button {
	cursor: pointer;
	background-color: rgb(72, 72, 72);
	color: white;
	padding: 10px;
	outline: solid green 2px;
	border-radius: 5px;
	border-style: outset;
}

button:hover {
	background-color: #0056b3;
}

a#downloadLink {
	font-size: small;
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(72, 72, 72);
	color: white;
	padding: 10px;
	outline: solid green 2px;
	border-radius: 5px;
	border-style: outset;
}

a#downloadLink:hidden {
	display: none !important;
}

h1 {
	margin-bottom: 20px;
}

section {
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--footer-height);
}

footer a {
	color: #fff;
	margin-top: auto;
}

hr {
	width: 100%;
}